{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "pv-safe.fullname" . }}
  labels:
    {{- include "pv-safe.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - persistentvolumes
      - persistentvolumeclaims
      - namespaces
    verbs:
      - get
      - list
  - apiGroups: ["snapshot.storage.k8s.io"]
    resources:
      - volumesnapshots
      - volumesnapshotclasses
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "pv-safe.fullname" . }}
  labels:
    {{- include "pv-safe.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "pv-safe.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "pv-safe.serviceAccountName" . }}
    namespace: {{ include "pv-safe.namespace" . }}
{{- end }}
